@media only screen and (max-width: 600px){

html,
body{
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

body{
    margin: 30px;
    background-color: rgb(197, 245, 214);
}

}