@media only screen and (max-width: 600px){
    

}

.header{
    color:#394651;
    background-color: rgb(197, 245, 214);
    padding: 20px 10px 0px; 
    text-align: center;
}

.navigation{

  gap: 42px;
    list-style: none; 
    font-size: 20px;
    justify-content: center;
    padding: 0;
    margin: 0;
    display: flex;
    border-bottom: 2px solid wheat; 

}

.navigation>li{
    padding: 0.5em 1em;
    margin: 0 1em;
    
}

.tabs{
    background: #f5f5f5; 
    font-weight: bold; 
    border: 3px solid gray;
    border-bottom: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position:relative;
    top: 2px;
}

.navigation a:hover{
    text-decoration:underline;
    border-bottom: 3px solid darkgray;
}

.title{
    font-size: 60px;
    font-style: italic;
    font-weight: lighter;
    
}

.imglogin{
    display: flex;
    margin: 15px;
    float: inline-end;
    gap: 10px;
}

/* .imageIS{
    
    /* justify-content: right; } */

.login{
    margin: auto;
    /* float: inline-end; */
    /* margin: 15px; */
}

